body {
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

h3 {
    font-size: 200%;
    letter-spacing: 2px;
  }

h2 {
    font-size: 250%;
    letter-spacing: 2px;
}

.tox-notifications-container {
    display: none !important;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    display: block !important;
}

.my-info-icon {
    border: 1px solid black; 
    border-radius: 100px; 
    padding: 0px 7px; 
    font-size: 80%;
}

input[type=checkbox]{
    accent-color: #bdb76b;
    width: 18px;
    height: 18px;
}

.spinner-border {
    color: #bdb76b;
}

html {
    height: 100%;
  }

body {
    height: inherit;
}

#__nuxt {
    height: inherit;
    display: flex;
    flex-direction: column;
}
