

  .section {
    padding: 10px;
  }
  
  .section .title {
    font-size: 160%;
    font-weight: bolder;
    line-height: 2em;
    color: #bdb76b;
  }
  
  .edit-form button {
    margin-right: 5px;
    margin-top: 5px;
  }
  
  .controls button {
    margin: 0 5px;
  }
  
  .matches {
    font-style: italic;
  }
  
  .modal-header {
    padding: 20px;
    font-size: 140%;
  }
  
  .modal-content {
    border: 0;
  }
  
  .modal-footer {
    padding: 20px;

    justify-content: left;
  }
  
  .modal-footer button {
    margin: 0 3px;
  }
  
  .form-group {
    margin: 10px 0;
  }

  .warning-small {
    color: orange; 
    font-size: 75%;
  }
